@page "/"

<PageTitle>Home</PageTitle>

<h1>HxInputText</h1>

<EditForm Model="@LoginDetails" method="post" FormName="LoginForm" OnSubmit="@Login" Context="formContext">
	Username: <HxInputText @bind-Value="@LoginDetails!.Username" /> <br />
	Password: <HxInputText @bind-Value="@LoginDetails!.Password" />
	<HxSubmit Color="ThemeColor.Primary" Text="Submit" />
</EditForm>

@code{

	[SupplyParameterFromForm]
	public InteractiveLoginDetails? LoginDetails { get; set; }

	public class InteractiveLoginDetails
	{
		public string Username { get; set; }
		public string Password { get; set; } 
	}
	
	protected override void OnInitialized()
	{
		LoginDetails ??= new InteractiveLoginDetails();
	}

	private async Task Login()
	{
		Console.WriteLine($"Username: {LoginDetails.Username} , Password: {LoginDetails.Password}");
	}
	
}